@forward "bar";
@forward "launcher";
@forward "logout-menu";
@forward "music";
@forward "notifications";
@forward "osd";
@forward "system-menu";
@forward "control-center";
@forward "screen-corners";
@forward "sidebar";

